# Eclipse
.classpath
.project
.metadata
/.settings/
output.txt

# ignore an entire directory
/target/
/logs/
/test-output/
/Test-ScreenShots/
/FailedTestsScreenshots/
src/test/java/tests/CloudTest.java
src/main/java/pages/DangerousPage.java
src/test/java/tests/DangerousTest.java
src/main/java/commons/DangerousDataProvider.java
pmi datas.xls
pmi datas.xlsx

# report file
bookerDate_test.xlsx
PmiReport.html
FirstReport.html